$clr-1:#335eea;



$text-clr-1:#335eea;
$text-clr-2:#606266;
$text-clr-3:#706d6b;
$text-clr-4:#4b4b4b;
$text-clr-5:#000000;

$fs12:12px;
$fs14:14px;
$fs16:16px;
$fs18:18px;


$border-clr-1:#eaeaea;
$border-clr-2:#ebeef5;


$bg-1:#f5f5f5;
$bg-2:#f5f7fa;


