$clr-1:#335eea;



$text-clr-1:#335eea;
$text-clr-2:#606266;
$text-clr-3:#706d6b;
$text-clr-4:#4b4b4b;
$text-clr-5:#000000;
$text-clr-6: #6e6e73;
$text-clr-7: #1d273b;
$text-clr-8: #1d1d1f;
$title:#000000;
$link: #0066cc;


$fs12:.75rem;
$fs13: .8125rem;
$fs14:.875rem;
$fs16:1rem;
$fs18:1.125rem;


$border-clr-1:#eaeaea;
$border-clr-2:#ebeef5;
$border-clr-3:#606266;
$border-clr-4: #1d1d1f;
$border-input:#335eea;


$bg-1:#f5f5f5;
$bg-2:#f5f7fa;
$bg-3: #3494f5;
$bg-button: #335eea;
$bg-button-hover: #0077ed;


