$clr-1: #000000;
$clr-2: #335eea;
$clr-3: #1d273b;


$txt-clr-1:#000000;
$txt-clr-2:#424245;
$txt-clr-3:#6e6e73;
$txt-clr-4:#1d1d1f;
$txt-clr-5:#0066cc;
$txt-clr-6:#f5f5f7;
$txt-clr-7:#ffffff;
$txt-clr-8:#040404;
$txt-clr-9:#ffffffb3;
$txt-clr-10:#616876;
$grey: #606266;


$bg-1:#f5f5f7;
$bg-2:#ffffff;
$bg-3:#1d1d1f;
$bg-4:#335eea;
$bg-5:#1d273b;
$bg-6:rgba(255, 255, 255, 0.06);
$bg-7:#f1f5f9;

$bg-8:#67C23A; // success
$bg-9:#E6A23C; // warning
$bg-10:#F56C6C; // danger
$bg-11:#E6A23C; // info
$bg-12:#206bc4; // primary


$border-clr-1:#d2d2d7;
$border-clr-2:#eee;
$border-clr-3:#f1f2f3;
$border-clr-4:#e6e7e9;


/* font-size */
$fs12: 12px;
$fs13: 13px;
$fs14: 14px;

$a-color:#0066cc;

$bg-button-hover:#0066cc;

$theme:#335eea;
$theme-text-black:#1d1d1f;
