$bg: red;



.r-flex {
    display: flex;
    align-items: center;
}

.ml10 {
    margin-left: 10px;
}

// a连接
.a-hover {
    color: #0066cc;
    text-decoration: underline;
}

.a-hover:hover {
    color: #0066cc;
}