/* colors */
$theme: #2d8cf0;
$theme-1: #335eea;
$theme-dark: #2d85e4;
$theme-light: #5cadff;
$success: #19be6b;
$warning: #ff9900;
$error: #ed3f14;
$title: #1c2438;
$content: #495060;
$sub-color: #ed3f14;
$disabled: #bbbec4;
$border: #dddee1;
$divider: #e9eaec;
$bg: #f8f8f9;
$black-light: #333;
$white: #fff;
$grey: #c9d0d3;
$red: #ee0a24;
$goldenrod: #daa520;
$link:#0066cc;




/* flex */
.r-flex {
    display: flex;
}

.r-flex-jcsb {
    display: flex;
    justify-content: space-between;
}

.r-flex-aic {
    display: flex;
    align-items: center;
}

.r-flex-jcsb-aic {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.r-flex-jcc-aic {
    display: flex;
    align-items: center;
    justify-content: center;
}


.c-flex {
    display: flex;
    flex-direction: column;
}

.c-flex-jcsb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c-flex-aic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-flex-jcc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* image */
.image {
    display: block;
    width: 100%;
}


/* text-align */
.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.tac {
    text-align: center;
}


/* font-size */
.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

/* color class */
.black-light {
    color: var($black-light);
}

.white {
    color: var($white);
}

.grey {
    color: var($grey);
}

.red {
    color: var($red);
}

.theme {
    color: var($theme);
}

.theme-dark {
    color: var($theme-dark);
}

.success {
    color: var($success);
}

.warning {
    color: var($warning);
}

.error {
    color: var($error);
}

.title {
    color: var($title);
}

.content {
    color: var($content);
}

.sub-color {
    color: var($sub-color);
}

.disabled {
    color: var($disabled);
}

.border {
    color: var($border);
}

.divider {
    color: var($divider);
}

.bg {
    background-color: var($bg);
}

/* padding */
.pg15 {
    padding: 15px;
}

.pg10 {
    padding: 10px;
}

.pg0-15 {
    padding: 0 15px;
}

/* margin */
.mn15 {
    margin: 15px;
}

.mn10-0 {
    margin: 10px 0;
}

.mt15 {
    margin-top: 15px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}

.ml5 {
    margin-left: 15px;
}

.mt10 {
    margin-top: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}