/**
 * 计算价格
 * @param array 商品数组
 * @param discounts 优惠劵数组
 */
function sum(array, discounts = []) {
    var total = 0
    for (var i = 0; i < array.length; i++) {
        if (array[i].checked) {
            total += array[i].room.price * array[i].number
        }
    }
    return (discounts.length ? (total - discountsMax(discounts)) : total).toFixed(2)
}

/**
 * 求优惠劵最大值
 * @param arr 
 */
function discountsMax(arr) {
    // return  - Math.max(...arr) wxs不支持ES6+
    return arr.reduce(function (a, b) {
        return a>b?a:b
    })
}





module.exports = {
    sum: sum,
    discountsMax: discountsMax
}